# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      # use `-browsers` prefix for selenium tests, e.g. `3.6.1-browsers`
      - image: circleci/python:3.6.1
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
          - dependencies-caches-{{ arch }}-{{ checksum "requirements.txt" }}
          - dependencies-caches-{{ arch }}
          - dependencies-caches

      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt

      - save_cache:
          key: dependencies-caches-{{ arch }}-{{ checksum "requirements.txt" }}
          paths:
            - ./venv

      - run:
          name: create report folder
          command: |
            [ -d test-reports ] || mkdir test-reports/
      - run:
          name: checking database setting 
          command: |
            . venv/bin/activate
            ./utils.sh c
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            ./utils.sh t-ci

      - store_test_results:
          path: test-reports
          destination: test-reports
